@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}
.about-content{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    align-items: center;
}
.about-vector{
    width: 50%;
}
.about-info{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-info-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.about-info-header h3 {
    font-size: 27px;
}

.about-info-header span i {
    font-size: 20px;
}

.about-info-header span  {
    font-size: 20px;
}

.about-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
    padding: 0;
}

li {
    list-style: none;
}

.about-cards li {
    list-style: none;
    background: white;
    margin-right: 10px;
    margin-top: 5px;
    padding: 15px 20px;
    box-shadow: 1px 1px 3px rgba(0,0,0, 0.5);
    border-radius: 5px;
    width: 100px;
    display: flex;
}
.card-info {
    margin-right: 10px;
}
.about-info-footer button {
    padding: 10px;
    width: 100px;
    background: #F6C955;
    border: none;
    font-size: 16px;
    border-radius: 22px;
}

p {
    line-height: 1.5rem;
}
